#guessText {
  text-align: center;
  font-size: 40px;
  font-family: Futura;
}
#theGuess{
  width: 30%;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
}
#theInputs {
  margin-left: 500px;
}

#guessedCorLettern {
  margin-left: 200px;
  font-family: Futura;
  font-size: 20px;
}
