---
layout: default
---
<script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>
    <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%B %e, %Y" }}</p>
    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/category/{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>
    
  <div class="entry">
    {{ content }}
  </div>

  {% if page.videos.size > 0 %}
  <section id="two">
    
    <div class="inner">
      <header class="major">
        <h2> Associated Videos </h2>
      </header>
      {% for video in page.videos %}
        <iframe style="max-width: 100%" width="100%" height="500" src="https://www.youtube.com/embed/{{video}}" frameborder="0" allowfullscreen></iframe>
      {% endfor %}
    </div>
  </section>
  {% endif %}


  {% if page.pdf != "none" %}
  <section id="three">
    
    <div class="inner">
      <header class="major">
        <h2> Associated PDFs </h2>
      </header>
      <object data="{{ page.pdf }}" width="100%" height="800" type='application/pdf'>
        <p>Your web browser doesn't have a PDF plugin.
          Instead you can <a href="{{ page.pdf }}">click here to
          download the PDF file.</a></p>
        </object>   
    </div>
  </section>
  {% endif %}

  <div>
    <p><span class="share-box">Share:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>


  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

  {% include disqus.html %}
  
</article>