body {
  background-color: #303030;
  margin: 0px;
  padding: 0px;

}

.nav-bar {
    width: 100%;
    background-color: #555 ;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}


.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav-bar li a {
    float: right;
    text-align: center;
    width: 10%;
    display: inline-block;
    padding: 22px;
    color: white;
    font-family: Futura;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease;

}

.nav-bar li a:visited {
    text-decoration: none;
    background-color: transparent;

}

.nav-bar li a:hover {
    background-color: #000

}

#currentpage {
  float: left;
  text-align: center;
  background-color: black;
  width: 15%;
  color: white;
  font-family: Futura;
  text-decoration: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

p {
  font-family: Futura;
  color: white;
  text-align: center;
}
